
body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    background-color: rgb(251, 240, 226);;
    text-decoration: none;
  }
  h1,
  h2,
  h3 {
    line-height: 1.2;
  }

.centerimg{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 25rem;
    border: 1px solid #000;
}